<div class="nested-fields">
  <div class="form-inline">
    <b> Option </b>
    <%= f.input :option_type, placeholder: 'size', label: false %>
    <%= f.input :option_value, placeholder: 'value', label: false %>
    <%= link_to_remove_association f, class: 'btn btn-default btn-xs' do %>
      <div class="glyphicon glyphicon-remove">X</div>
    <% end %>
  </div>
</div>
